body{
    line-height:200%;
    font-size: 120%;
}

a{
    color:lime;
    text-decoration:none;
}

hr{
    padding:0px;
}

table{
    padding-left:0;
    border-collapse: collapse;
}
th,td{
    padding:10px 10px;
    border:solid 1px #fff;
}
table img{
    width:40px;
    margin-right:10px;
    position:relative;
    top:10px;
}


.header{
    padding:5px;
}
.URL{
    padding:5px;
}
.introduction{
    padding:5px;
}
.text-center{
    text-align:center;
}
