@media screen and (max-width: 480px){
    body{
        font-size: 100%; /* スマホ用にフォントサイズを小さくする */
    }
}

body{
    line-height:200%;
    font-size: 120%;
    color: #333;
    background-color: #f5f5f5;
}

a{
    color:black;
    text-decoration:none;
}

.header{
    text-align:center;
    padding:1rem;
    background-color: #F0FFF0;
}

.header a {
    text-decoration: none;
    color: #333;
}

.sns{
    display: flex;
    justify-content: space-around; /* 画像を横に間隔を均等に並べる */
    padding: 20px 0; /* 上下にパディングを追加 */
}

.sns a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sns .sns-name{
    margin-bottom: 10px; /* 名前と画像の間にマージンを追加 */
    font-size: 14px;
    color: #333;
    text-align: center;
    background-color: #E6E6FA;
}

.sns img{
    width:60px;
    height: 60px;
}


.into {
    background-color: #f8f8f8;
    padding: 20px;
    margin-top: 20px;
}

.games {
    margin-top: 1rem;
    text-align: center;
    padding-bottom:10px;
}

.games table {
    margin: auto;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

.games th, .games td {
    padding: 10px;
    border: 1px solid black;
}

.games th {
    background-color: #f8f8f8;
}


.into {
    padding: 0px;
    padding-top:0px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:15px;
}

.intos {
    padding: 0px;
}

.accordion-button {
    background-color: transparent;
    color: black;
    cursor: pointer;
    padding: 1em 1em;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.2s ease;
}

.accordion-button:hover {
    background-color: #ddd;
}

.accordion-body {
    padding-top: 0.1em;
    padding: 1em;
    background-color: #fff;
    margin-bottom: 1em;
}

.details-header {
    cursor: pointer;
    background-color: #f8f8f8;
    padding: 10px;
    margin-top: 10px; /* 他のセクションとの間のマージンを10pxに変更 */
    border-top: 2px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.details-content {
    display: none;
    background-color: #fff;
    padding: 15px;
    padding-top:0.5px;
    border-bottom: 2px solid #ddd;
}