@media screen and (max-width: 480px) {
    body {
        font-size: 100%;
    }
}


/* 共通スタイル */
body {
    line-height: 200%;
    font-size: 120%;
    color: #333;
    background-color: #f5f5f5;
}

a {
    color: #3cb371;
    text-decoration: none;
}


/* ヘッダー */
.header {
    text-align: center;
    padding: 1rem;
    background-color: #f5f5f5;
}

.header a {
    text-decoration: none;
    color: #333;
}


/* モード切り替えボタン */
.switch-button {
    position: absolute; /* 絶対配置 */
    top: 10px; /* 上から10px */
    right: 10px; /* 右から10px */
    display: flex;
    align-items: center;
}

.mode-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.5em;
    color: #333;
}


/* SNS */
.sns {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    flex-wrap: wrap;
    max-width: 100%;
}

.sns a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 10px;
}

/* SNSアイコン */
.sns i {
    font-size: 2em;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

/* SNSアイコンのホバーエフェクト */
.sns a:hover i {
    transform: scale(0.9);
}

/* SNSアイコンカラー */
.sns i.fa-twitter {
    color: #1da1f2;
}

.sns i.fa-discord {
    color: #5865f2;
}

.sns i.fa-youtube {
    color: #ff0000;
}

.sns i.fa-spotify {
    color: #1db954;
}

.sns i.fa-github {
    color: #333;
}


/* 詳細情報 */
.info {
    margin-top: 10px;
    padding: 15px;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
}

.info-table th, .info-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.info-table th {
    text-align: left;
    background-color: #f5f5f5;
}

/* 最後のテーブルセルのボーダースタイル */
.info-table tr:last-child th, .info-table tr:last-child td {
    border-bottom: none;
}


/* ダークモードスタイル */
body.dark-mode, .header.dark-mode, .sns.dark-mode, .info.dark-mode {
    background-color: #222222;
    color: #f5f5f5;
}

body.dark-mode a {
    color: #66cdaa;
}

.dark-mode .header {
    background-color: #222222;
}

.dark-mode .header a {
    color: white;
}

.dark-mode .switch-button .mode-button {
    color: #f5f5f5;
}

.dark-mode .sns {
    background-color: #222222;
    border-color: #555;
}

.dark-mode .sns a {
    color: #f5f5f5;
}

.dark-mode .sns i.fa-twitter {
    color: #1da1f2;
}

.dark-mode .sns i.fa-discord {
    color: #5865f2;
}

.dark-mode .sns i.fa-youtube {
    color: #ff0000;
}

.dark-mode .sns i.fa-spotify {
    color: #1db954;
}

.dark-mode .sns i.fa-github {
    color: #f5f5f5;
}

.dark-mode .info {
    background-color: #222222;
    border-color: #555;
}

.dark-mode .info-table th, .dark-mode .info-table td {
    border-color: #555;
}

.dark-mode .info-table th {
    background-color: #222222;
}


/* アクセスカウンター */
.access-counter {
    margin-top: 20px;
    margin: 0 0 0 auto;
    padding: 0.4em;
    background-color: #f5f5f5;
    color: #333;
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    width: fit-content;
}

.dark-mode .access-counter {
    background-color: #222222;
    color: #f5f5f5;
}


/* Now Playing */
#now-playing-container {
    text-align: center;
}

#now-playing-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#track-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.album-art {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

.track-name, .artist-name, .track-length {
    margin-right: 10px;
}

.track-name {
    font-size: 1em;
    font-weight: bold;
}

.artist-name, .track-length {
    font-size: 0.9em;
    color: #555;
}

#track-info a {
    color: #3cb371;
    text-decoration: none;
}

#track-info a:hover {
    text-decoration: underline;
}

.fa-spotify, .fa-headphones {
    margin-right: 5px;
}

.dark-mode #track-info a {
    color: #66cdaa;
}

.dark-mode .track-name, .dark-mode .artist-name, .dark-mode .track-length {
    color: #f5f5f5;
}

.dark-mode .fa-spotify, .dark-mode .fa-headphones {
    color: #f5f5f5;
}
