@media screen and (max-width: 480px) {
    body {
        font-size: 100%;
    }
}

body {
    line-height: 200%;
    font-size: 120%;
    color: #333;
    background-color: #f5f5f5;
}

a {
    color: #00ff7f;
    text-decoration: none;
}

.header {
    text-align: center;
    padding: 1rem;
    background-color: #f8f8f8;
}

.header a {
    text-decoration: none;
    color: #333;
}

.header .toggle-switch {
    position: absolute;
    top: 10px;
    right: 10px;
}

.toggle-switch {
    width: 60px;
    height: 30px;
    border-radius: 30px;
    display: inline-block;
    position: relative;
    margin: 0;
}

.toggle-switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(30px);
}

.sns {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    flex-wrap: wrap;
    max-width: 100%;
}

.sns a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 10px;
}

.sns i {
    font-size: 2em;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.sns a:hover i {
    transform: scale(0.9);
}

.sns i.fa-twitter {
    color: #1da1f2;
}

.sns i.fa-discord {
    color: #5865f2;
}

.sns i.fa-youtube {
    color: #ff0000;
}

.sns i.fa-spotify {
    color: #1db954;
}

.details-section {
    margin-top: 10px;
    background-color: #f5f5f5;
}

.details-content {
    background-color: #f5f5f5;
    padding: 15px;
    border-bottom: 2px solid #ddd;
}

.detail-table {
    width: 100%;
    border-collapse: collapse;
}

.detail-table th, .detail-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.detail-table th {
    background-color: #f5f5f5;
    text-align: left;
}

.detail-table tr:last-child th, .detail-table tr:last-child td {
    border-bottom: none;
}

/* ダークモードの設定 */
body.dark-mode {
    background-color: #333;
    color: #f5f5f5;
}

.dark-mode .header, .dark-mode .sns, .dark-mode .details-section {
    background-color: #444;
}

body.dark-mode .details-section, body.dark-mode .detail-table th {
    background-color: #444;
}

body.dark-mode .detail-table td, body.dark-mode .detail-table th {
    border-color: #555;
}

body.dark-mode .detail-table tr:last-child th, body.dark-mode .detail-table tr:last-child td {
    border-bottom-color: transparent;
}

body.dark-mode .details-content {
    background-color: #444;
    border-color: #555;
}

body.dark-mode .detail-table td {
    background-color: #444;
    color: #f5f5f5;
}

body.dark-mode .header h1 a {
    color: #f5f5f5;
}
